<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Institute</title>


    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/all.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">

    <!-- slick slider -->
    <link rel="stylesheet" href="assets/vendor/slick/slick.css">

    <!-- lightbox -->
    <link rel="stylesheet" href="assets/vendor/lightbox/css/lightbox.css">

    <!-- main css -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- menu overlay -->
    <div id="menu_overlay"></div>
    <!-- menu overlay -->

    <!-- top menu start -->
    <div class="top-menu">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-3">
                    <a href="#"><i class="fa-solid fa-phone"></i> +88 01934 400400 </a>
                    <a href="#"><i class="fa-solid fa-envelope"></i> info@cloudinstitute.net</a>
                </div>

                <div class="social-icons d-flex gap-3">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- top menu end -->

    <!-- main menu section -->
    <div class="menu border-bottom">
        <div class="container menu__container">
            <!-- logo -->
            <div class="logo">
                <a href="#"><img src="assets/images/CI-Color-black.png" alt=""></a>
            </div>
            <!-- logo -->

            <div class="d-flex justify-content-between align-items-center desktop-menu">

                <!-- menu -->
                <ul class="main-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Success Story</a></li>
                    <li><a href="#">Admission</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <!-- menu -->
                <!-- button -->
                <div class="btns">
                    <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> All Course</a>
                    <!-- button -->
                </div>

            </div>
            <a href="#" class="btn btn-custom" id="menu_btn"><i class="fa-solid fa-bars-staggered"></i></a>
        </div>
    </div>


    <div class="phone-menu">
        <div class="text-end p-4">
            <a href="#" class="menu-close" id="menu_close"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <!-- menu -->
        <ul class="main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Success Story</a></li>
            <li><a href="#">Admission</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!-- menu -->
        <!-- button -->
        <div class="text-center mt-5">
            <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> All Course</a>

        </div>
        <!-- button -->
    </div>

    <!-- main menu end -->

    <!-- about section start -->
    <section class="about padding-top">
        <div class="container">
            <div class="text">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eius consequuntur reiciendis
                    molestiae nihil dolorem fugiat quam, aperiam non? Ullam ab nostrum deserunt modi repellat, fugiat
                    laboriosam autem rem doloribus minus reiciendis sapiente. Quos dolor dolores reiciendis cupiditate
                    harum, dolorum debitis praesentium. Dolore vel, hic asperiores iure consequuntur aut temporibus!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eius consequuntur reiciendis
                    molestiae nihil dolorem fugiat quam, aperiam non? Ullam ab nostrum deserunt modi repellat, fugiat
                    laboriosam autem rem doloribus minus reiciendis sapiente. Quos dolor dolores reiciendis cupiditate
                    harum, dolorum debitis praesentium. Dolore vel, hic asperiores iure consequuntur aut temporibus!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eius consequuntur reiciendis
                    molestiae nihil dolorem fugiat quam, aperiam non? Ullam ab nostrum deserunt modi repellat, fugiat
                    laboriosam autem rem doloribus minus reiciendis sapiente. Quos dolor dolores reiciendis cupiditate
                    harum, dolorum debitis praesentium. Dolore vel, hic asperiores iure consequuntur aut temporibus!</p>
            </div>

            <div class="text">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eius consequuntur reiciendis
                    molestiae nihil dolorem fugiat quam, aperiam non? Ullam ab nostrum deserunt modi repellat, fugiat
                    laboriosam autem rem doloribus minus reiciendis sapiente. Quos dolor dolores reiciendis cupiditate
                    harum, dolorum debitis praesentium. Dolore vel, hic asperiores iure consequuntur aut temporibus!</p>
            </div>
        </div>
    </section>
    <!-- about section end -->

    <!-- service section start -->
    <section class="service-section">
        <div class="container service__container">
            <div class="heading">
                <h2>Our Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, dolore autem! Commodi a, repudiandae
                    sed fugiat doloremque repellendus amet facere.</p>
            </div>

            <div class="services">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service color-1">
                            <img src="assets/images/icons8-support-64.png" alt="">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus magni laborum quo
                                consequatur id cum qui tempora porro reprehenderit voluptatibus, tempore accusamus nulla
                                nam at dolorum numquam saepe, veniam, culpa sit maxime quis veritatis quibusdam enim.
                                Vero autem provident asperiores.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service color-2">
                            <img src="assets/images/icons8-support-64.png" alt="">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus magni laborum quo
                                consequatur id cum qui tempora porro reprehenderit voluptatibus, tempore accusamus nulla
                                nam at dolorum numquam saepe, veniam, culpa sit maxime quis veritatis quibusdam enim.
                                Vero autem provident asperiores.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service color-1">
                            <img src="assets/images/icons8-support-64.png" alt="">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus magni laborum quo
                                consequatur id cum qui tempora porro reprehenderit voluptatibus, tempore accusamus nulla
                                nam at dolorum numquam saepe, veniam, culpa sit maxime quis veritatis quibusdam enim.
                                Vero autem provident asperiores.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service color-2">
                            <img src="assets/images/icons8-support-64.png" alt="">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus magni laborum quo
                                consequatur id cum qui tempora porro reprehenderit voluptatibus, tempore accusamus nulla
                                nam at dolorum numquam saepe, veniam, culpa sit maxime quis veritatis quibusdam enim.
                                Vero autem provident asperiores.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service color-1">
                            <img src="assets/images/icons8-support-64.png" alt="">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus magni laborum quo
                                consequatur id cum qui tempora porro reprehenderit voluptatibus, tempore accusamus nulla
                                nam at dolorum numquam saepe, veniam, culpa sit maxime quis veritatis quibusdam enim.
                                Vero autem provident asperiores.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service color-2">
                            <img src="assets/images/icons8-support-64.png" alt="">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus magni laborum quo
                                consequatur id cum qui tempora porro reprehenderit voluptatibus, tempore accusamus nulla
                                nam at dolorum numquam saepe, veniam, culpa sit maxime quis veritatis quibusdam enim.
                                Vero autem provident asperiores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service section end -->


    <!-- gallery section start -->
    <section class="gallery">
        <div class="container gallery__container">
            <div class="heading">
                <h2>Our Gallery</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, dolore autem! Commodi a, repudiandae
                    sed fugiat doloremque repellendus amet facere.</p>
            </div>
            <div class="gallery-img">
                <div class="image">
                    <a href="assets/images/ci-63-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-63-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-4-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-4-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-64-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-64-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-2-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-2-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-3-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-3-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/DSC05887-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/DSC05887-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/Cloud-Institute-39.jpg" data-lightbox="gallery">
                        <img src="assets/images/Cloud-Institute-39.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/Cloud-Institute-50.jpg" data-lightbox="gallery">
                        <img src="assets/images/Cloud-Institute-50.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="load-more text-center mt-4">
                <a href="#" class="btn btn-custom">See Our Gallery</a>
            </div>
        </div>
    </section>
    <!-- gallery section end -->


    <!-- counter section start -->
    <section class="counter-section custom-bg">
        <div class="container counter__container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="rounded" src="assets/images/IMG_E2382-min-scaled.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="text-area">
                        <h2>Our Gallery</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id doloremque iusto accusantium
                            cupiditate ducimus, ipsum delectus minima dicta, voluptas harum recusandae eligendi sint
                            reprehenderit cumque iste officiis quas! Ea exercitationem facilis repellat similique
                            molestiae
                            temporibus earum corrupti quas sapiente fugiat, repellendus voluptas necessitatibus deleniti
                            quam eaque ad ipsam quo magni vero iusto dignissimos incidunt illum sit! Magnam porro
                            mollitia
                            quisquam dolorem. Officiis labore harum dolorem explicabo architecto error inventore
                            asperiores
                            et. Quaerat culpa voluptatum ratione vitae? Consequuntur error praesentium a voluptate,
                            tempore
                            quo provident distinctio eaque ipsam explicabo voluptas possimus quidem numquam nemo,
                            reiciendis
                            iste, amet voluptates. Modi, corporis omnis.</p>


                        <div class="buttons mt-4 d-flex gap-2">
                            <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> All Course</a>
                            <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> About Us</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="counters">
                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">120</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>
            </div>
        </div>
    </section>
    <!-- counter section end -->



    


    <!-- google map section start -->
    <div class="google-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.5171684862075!2d89.55060657431177!3d22.82034812384643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff9125fabc7061%3A0x8dafec6891e4beb2!2sCloud%20Institute!5e0!3m2!1sen!2sbd!4v1683184701971!5m2!1sen!2sbd"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- google map section end -->

    <!-- footer section start -->
    <div class="footer">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="logo">
                            <a href="#">
                                <img src="assets/images/ci-full-logo.png" alt="">
                            </a>
                        </div>
                        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto architecto sint
                            voluptates magnam
                            repellat possimus.</p>

                        <div class="social-icons d-flex gap-3">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h5 class="title">Quick Links</h5>
                        <ul class="footer-link">
                            <li><a href="#">Free Seminar</a></li>
                            <li><a href="#">Mentors</a></li>
                            <li><a href="#">Success Story</a></li>
                            <li><a href="#">Our Gallery</a></li>
                            <li><a href="#">Your Questions</a></li>
                            <li><a href="#">Google Business</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h5 class="title">Quick Links</h5>
                        <ul class="footer-link">
                            <li><a href="#">Free Seminar</a></li>
                            <li><a href="#">Mentors</a></li>
                            <li><a href="#">Success Story</a></li>
                            <li><a href="#">Our Gallery</a></li>
                            <li><a href="#">Your Questions</a></li>
                            <li><a href="#">Google Business</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 address">
                    <div class="footer-widget">
                        <h5 class="title">Contact</h5>
                        <h6>Khulna Office</h6>
                        <p>The Daily Probaha Bhaban,<br>
                            3 KDA Avenue, Shibbari, Khulna.,<br>
                            Khulna, Khulna Division,<br>
                            Bangladesh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->

    <!-- bottom footer start -->
    <div class="bottom-footer">
        <div class="container p-4">
            <p class="text-center m-0">Copyright © 2022 Cloud Institute. All right reserved | <a href="#">Sitemap</a>
            </p>
        </div>
    </div>
    <!-- bottom footer end -->




    <!-- pop up video modal start -->
    <div class="modal fade video-modal" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- Preloader -->
            <div id="modal-preloader">
                <div class="modal-preloader_status">
                    <div class="modal-preloader_spinner">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Preloader -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" id="video_modal_close" class="close" data-bs-dismiss="modal"
                        aria-label="Close" style="display: none;">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pop up video modal end -->








    <!-- jquery -->
    <script src="assets/js/jquery-3.6.3.min.js"></script>
    <script src="assets/js/jquery-migrate-3.0.0.js"></script>

    <!-- bootstrap -->
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>


    <!-- slick slider -->
    <script src="assets/vendor/slick/slick.min.js"></script>

    <!-- lightbox -->
    <script src="assets/vendor/lightbox/js/lightbox.js"></script>


    <!-- counter up -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="assets/vendor/counterup/jquery.counterup.min.js"></script>

    <!-- custom css -->
    <script src="assets/js/main.js"></script>

</body>

</html>