<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Institute</title>


    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/all.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">

    <!-- slick slider -->
    <link rel="stylesheet" href="assets/vendor/slick/slick.css">

    <!-- lightbox -->
    <link rel="stylesheet" href="assets/vendor/lightbox/css/lightbox.css">

    <!-- main css -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- menu overlay -->
    <div id="menu_overlay"></div>
    <!-- menu overlay -->

    <!-- top menu start -->
    <div class="top-menu">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-3">
                    <a href="#"><i class="fa-solid fa-phone"></i> +88 01934 400400 </a>
                    <a href="#"><i class="fa-solid fa-envelope"></i> info@cloudinstitute.net</a>
                </div>

                <div class="social-icons d-flex gap-3">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- top menu end -->

    <!-- main menu section -->
    <div class="menu border-bottom">
        <div class="container menu__container">
            <!-- logo -->
            <div class="logo">
                <a href="#"><img src="assets/images/CI-Color-black.png" alt=""></a>
            </div>
            <!-- logo -->

            <div class="d-flex justify-content-between align-items-center desktop-menu">

                <!-- menu -->
                <ul class="main-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Success Story</a></li>
                    <li><a href="#">Admission</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <!-- menu -->
                <!-- button -->
                <div class="btns">
                    <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> All Course</a>
                    <!-- button -->
                </div>

            </div>
            <a href="#" class="btn btn-custom" id="menu_btn"><i class="fa-solid fa-bars-staggered"></i></a>
        </div>
    </div>


    <div class="phone-menu">
        <div class="text-end p-4">
            <a href="#" class="menu-close" id="menu_close"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <!-- menu -->
        <ul class="main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Success Story</a></li>
            <li><a href="#">Admission</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!-- menu -->
        <!-- button -->
        <div class="text-center mt-5">
            <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> All Course</a>

        </div>
        <!-- button -->
    </div>

    <!-- main menu end -->

    <!-- course details section start -->
    <section class="course-details custom-bg padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h5 class="tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                    <img class="course-image" src="assets/images/1-scaled.jpg" alt="">
                </div>
                <div class="col-lg-5">
                    <h2 class="title">Professional Graphic Design</h2>
                    <div class="row g-3">
                        <div class="col-lg-4">
                            <div class="card p-3 text-center">
                                <p class="text-center m-2">Duration</p>
                                <h5>3.5 Months</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card p-3 text-center">
                                <p class="text-center m-2">Lecture</p>
                                <h5>36+</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card p-3 text-center">
                                <p class="text-center m-2">Project</p>
                                <h5>20+</h5>
                            </div>
                        </div>
                    </div>
                    <div class="details mt-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quia nostrum laborum. Facere
                            repudiandae excepturi ducimus debitis odio nostrum dicta asperiores velit repellendus,
                            perspiciatis accusamus fugiat illo quo iure cumque sit ex autem! Ad quod nostrum explicabo,
                            accusamus deserunt dolore quia voluptate doloremque reiciendis numquam repellat. Mollitia
                            dolor nisi facere suscipit ut optio atque dolores, excepturi voluptates, fugiat ex
                            voluptatem!</p>
                    </div>
                    <div class="buttons mt-4 d-flex gap-2">
                        <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> All Course</a>
                        <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- course details section end -->

    <!-- course over view start -->
    <section class="course-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="course-overview">
                        <h2>Course Overiew</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, placeat maiores magnam
                            recusandae alias eum ut nostrum animi eos perferendis ullam quae voluptates minima qui et!
                            Doloremque distinctio unde quam labore ratione eos laboriosam illum voluptatibus, tempore
                            autem provident harum est beatae, velit praesentium temporibus, quo quis sunt sapiente
                            debitis. Sapiente suscipit adipisci ad? Distinctio, odit quo excepturi ex illum dignissimos
                            aliquid magnam, voluptatum ullam adipisci perferendis dolorum illo! Perspiciatis incidunt
                            nulla officiis recusandae in voluptatem quibusdam provident saepe rem.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo voluptatibus ducimus
                            tenetur repellendus quis. Laudantium fugiat, doloribus cupiditate dolorem ratione beatae
                            maxime praesentium officiis enim, vero pariatur facere, modi sequi ducimus. Assumenda, ad
                            nesciunt suscipit adipisci voluptatibus veritatis similique a porro cupiditate harum
                            consequatur, mollitia ea aliquid, consectetur nobis quasi temporibus. Impedit, labore iste
                            vitae cum dolorem in velit optio, soluta recusandae, ipsa ab! Dolorem voluptas quidem iste
                            voluptatem? Sit necessitatibus dicta aliquam cupiditate soluta expedita labore et
                            dignissimos?</p>
                    </div>

                    <div class="curriculum mt-4">
                        <h3 class="text-center">Course Curriculum</h3>
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3">
                                    <div class="icon">
                                        <i class="fa-regular fa-square"></i>
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Professional Presentation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="software mt-4">
                        <h3 class="text-center">Course Curriculum</h3>
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <div class="item d-flex gap-3 align-items-center">
                                    <div class="img">
                                        <img src="assets/images/adobe-photoshop.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Adobe Photoshop</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3 align-items-center">
                                    <div class="img">
                                        <img src="assets/images/adobe-photoshop.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Adobe Photoshop</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3 align-items-center">
                                    <div class="img">
                                        <img src="assets/images/adobe-photoshop.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Adobe Photoshop</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item d-flex gap-3 align-items-center">
                                    <div class="img">
                                        <img src="assets/images/adobe-photoshop.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p class="m-0">Adobe Photoshop</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="faqs mt-4">
                        <h5 class="mb-3">Some Question and Answer</h5>
                        <div class="faq">
                            <p class="question">Lorem ipsum dolor sit amet?</p>
                            <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dolores
                                eveniet libero impedit facere assumenda atque praesentium aliquam fuga vitae laudantium
                                blanditiis sequi repellendus error voluptate, molestias qui quasi debitis earum dolorem
                                rem ducimus repudiandae distinctio provident? Obcaecati quaerat consequuntur quas
                                distinctio, laudantium beatae eligendi corrupti similique eum provident laboriosam.</p>
                        </div>

                        <div class="faq">
                            <p class="question">Lorem ipsum dolor sit amet?</p>
                            <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dolores
                                eveniet libero impedit facere assumenda atque praesentium aliquam fuga vitae laudantium
                                blanditiis sequi repellendus error voluptate, molestias qui quasi debitis earum dolorem
                                rem ducimus repudiandae distinctio provident? Obcaecati quaerat consequuntur quas
                                distinctio, laudantium beatae eligendi corrupti similique eum provident laboriosam.</p>
                        </div>

                        <div class="faq">
                            <p class="question">Lorem ipsum dolor sit amet?</p>
                            <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dolores
                                eveniet libero impedit facere assumenda atque praesentium aliquam fuga vitae laudantium
                                blanditiis sequi repellendus error voluptate, molestias qui quasi debitis earum dolorem
                                rem ducimus repudiandae distinctio provident? Obcaecati quaerat consequuntur quas
                                distinctio, laudantium beatae eligendi corrupti similique eum provident laboriosam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="custom-bg p-4 info">
                        <h5>Admission going on..</h5>
                        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In facere perferendis
                            omnis quis eveniet aliquid</p>

                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="card admission text-center p-5">
                                    <h3>Course Fee (Offline)</h3>
                                    <h3>21,000 Tk.</h3>
                                    <a href="#" class="btn-custom">Enrole Now</a>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="card admission text-center p-5">
                                    <h3>Course Fee (Online)</h3>
                                    <h3>8,000 Tk.</h3>
                                    <a href="#" class="btn-custom">Enrole Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mentors mt-4">
                        <h4>Mentors</h4>
                        <div class="mentor ">
                            <img src="assets/images/sabya.png" alt="">
                            <div class="text">
                                <h4><a href="#">Sabya Roy</a></h4>
                                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad,
                                    adipisci beatae?
                                    Impedit
                                    tempore inventore quisquam.</p>
                                    <a href="#" class="btn-custom">Check Info <i class="fa-solid fa-info-circle"></i></a>
                            </div>
                        </div>

                        <div class="mentor ">
                            <img src="assets/images/sabya.png" alt="">
                            <div class="text">
                                <h4><a href="#">Sabya Roy</a></h4>
                                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad,
                                    adipisci beatae?
                                    Impedit
                                    tempore inventore quisquam.</p>
                                    <a href="#" class="btn-custom">Check Info <i class="fa-solid fa-info-circle"></i></a>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-12">
                    <div class="course-section mt-4">
                        <div class="course-wrap ">
                            <h4>Related Courses</h4>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card course">
                                        <div class="image">
                                            <a href="#"><img src="assets/images/1-scaled.jpg" alt=""></a>
                                        </div>
                                        <div class="text-area">
                                            <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                            <div class="info d-flex justify-content-between mb-3">
                                                <div class="class">
                                                    <i class="fa-solid fa-circle-play"></i>
                                                    <span>36+ Classes</span>
                                                </div>
                                                <div class="month">
                                                    <i class="fa-solid fa-clock"></i>
                                                    <span>3.5 Months</span>
                                                </div>
                                            </div>
                                            <p class="fee">Course Fee: 21000 TK.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card course">
                                        <div class="image">
                                            <a href="#"><img src="assets/images/2-scaled.jpg" alt=""></a>
                                        </div>
                                        <div class="text-area">
                                            <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                            <div class="info d-flex justify-content-between mb-3">
                                                <div class="class">
                                                    <i class="fa-solid fa-circle-play"></i>
                                                    <span>36+ Classes</span>
                                                </div>
                                                <div class="month">
                                                    <i class="fa-solid fa-clock"></i>
                                                    <span>3.5 Months</span>
                                                </div>
                                            </div>
                                            <p class="fee">Course Fee: 21000 TK.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card course">
                                        <div class="image">
                                            <a href="#"><img src="assets/images/12-scaled.jpg" alt=""></a>
                                        </div>
                                        <div class="text-area">
                                            <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                            <div class="info d-flex justify-content-between mb-3">
                                                <div class="class">
                                                    <i class="fa-solid fa-circle-play"></i>
                                                    <span>36+ Classes</span>
                                                </div>
                                                <div class="month">
                                                    <i class="fa-solid fa-clock"></i>
                                                    <span>3.5 Months</span>
                                                </div>
                                            </div>
                                            <p class="fee">Course Fee: 21000 TK.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- course over view end -->


    <!-- google map section start -->
    <div class="google-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.5171684862075!2d89.55060657431177!3d22.82034812384643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff9125fabc7061%3A0x8dafec6891e4beb2!2sCloud%20Institute!5e0!3m2!1sen!2sbd!4v1683184701971!5m2!1sen!2sbd"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- google map section end -->

    <!-- footer section start -->
    <div class="footer">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="logo">
                            <a href="#">
                                <img src="assets/images/ci-full-logo.png" alt="">
                            </a>
                        </div>
                        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto architecto sint
                            voluptates magnam
                            repellat possimus.</p>

                        <div class="social-icons d-flex gap-3">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h5 class="title">Quick Links</h5>
                        <ul class="footer-link">
                            <li><a href="#">Free Seminar</a></li>
                            <li><a href="#">Mentors</a></li>
                            <li><a href="#">Success Story</a></li>
                            <li><a href="#">Our Gallery</a></li>
                            <li><a href="#">Your Questions</a></li>
                            <li><a href="#">Google Business</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h5 class="title">Quick Links</h5>
                        <ul class="footer-link">
                            <li><a href="#">Free Seminar</a></li>
                            <li><a href="#">Mentors</a></li>
                            <li><a href="#">Success Story</a></li>
                            <li><a href="#">Our Gallery</a></li>
                            <li><a href="#">Your Questions</a></li>
                            <li><a href="#">Google Business</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 address">
                    <div class="footer-widget">
                        <h5 class="title">Contact</h5>
                        <h6>Khulna Office</h6>
                        <p>The Daily Probaha Bhaban,<br>
                            3 KDA Avenue, Shibbari, Khulna.,<br>
                            Khulna, Khulna Division,<br>
                            Bangladesh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->

    <!-- bottom footer start -->
    <div class="bottom-footer">
        <div class="container p-4">
            <p class="text-center m-0">Copyright © 2022 Cloud Institute. All right reserved | <a href="#">Sitemap</a>
            </p>
        </div>
    </div>
    <!-- bottom footer end -->




    <!-- pop up video modal start -->
    <div class="modal fade video-modal" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- Preloader -->
            <div id="modal-preloader">
                <div class="modal-preloader_status">
                    <div class="modal-preloader_spinner">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Preloader -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" id="video_modal_close" class="close" data-bs-dismiss="modal"
                        aria-label="Close" style="display: none;">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pop up video modal end -->








    <!-- jquery -->
    <script src="assets/js/jquery-3.6.3.min.js"></script>
    <script src="assets/js/jquery-migrate-3.0.0.js"></script>

    <!-- bootstrap -->
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>


    <!-- slick slider -->
    <script src="assets/vendor/slick/slick.min.js"></script>

    <!-- lightbox -->
    <script src="assets/vendor/lightbox/js/lightbox.js"></script>


    <!-- counter up -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="assets/vendor/counterup/jquery.counterup.min.js"></script>

    <!-- custom css -->
    <script src="assets/js/main.js"></script>

</body>

</html>