

    

    <!-- seminar section start -->
    <section class="seminar">
        <div class="container seminar__container">
            <div class="heading">
                <h2>All Seminars</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, dolore autem! Commodi a, repudiandae
                    sed fugiat doloremque repellendus amet facere.</p>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="{% static 'assets/images/Upcoming-Seminar.jpg' %}" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="text-area">
                        <h4 class="mb-4">Upcoming Free Seminar</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered w-100 mb-4">
                                <tr>
                                    <td>
                                        <div class="date-time"> 12.00 AM </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="title">Seminar On Web design and development</p>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#" class="btn btn-seminar">Join Seminar</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="date-time"> 12.00 AM </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="title">Seminar On Web design and development</p>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#" class="btn btn-seminar">Join Seminar</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="date-time"> 12.00 AM </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="title">Seminar On Web design and development</p>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#" class="btn btn-seminar">Join Seminar</a>
                                    </td>
                                </tr>abdur razzakjonopriy
                            </table>
                        </div>
                        <a href="#" class="btn btn-custom">See All Semianrs</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- seminar section end -->


    <!-- gallery section start -->
    <section class="gallery">
        <div class="container gallery__container">
            <div class="heading">
                <h2>Our Gallery</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, dolore autem! Commodi a, repudiandae
                    sed fugiat doloremque repellendus amet facere.</p>
            </div>
            <div class="gallery-img">
                <div class="image">
                    <a href="{% static 'assets/images/ci-63-min-scaled.jpg' %}" data-lightbox="gallery">
                        <img src="{% static 'assets/images/ci-63-min-scaled.jpg' %}" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-4-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-4-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-64-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-64-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-2-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-2-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/ci-3-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/ci-3-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/DSC05887-min-scaled.jpg" data-lightbox="gallery">
                        <img src="assets/images/DSC05887-min-scaled.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/Cloud-Institute-39.jpg" data-lightbox="gallery">
                        <img src="assets/images/Cloud-Institute-39.jpg" alt="">
                    </a>
                </div>

                <div class="image">
                    <a href="assets/images/Cloud-Institute-50.jpg" data-lightbox="gallery">
                        <img src="assets/images/Cloud-Institute-50.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="load-more text-center mt-4">
                <a href="#" class="btn btn-custom">See Our Gallery</a>
            </div>
        </div>
    </section>
    <!-- gallery section end -->


    <!-- success story section start -->
    <section class="success-story">
        <div class="container">
            <div class="heading">
                <h2>Our Gallery</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, dolore autem! Commodi a, repudiandae
                    sed fugiat doloremque repellendus amet facere.</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="video">
                        <a href="javascript:void(0)" class="play video-btn" data-bs-toggle="modal"
                            data-bs-src="https://www.youtube.com/embed/2fP6V70UpYE" data-bs-target="#videoModal">
                            <i class="fa-solid fa-play"></i>
                        </a>
                        <img src="assets/images/thumbnail-2.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="video">
                        <a href="javascript:void(0)" class="play video-btn" data-bs-toggle="modal"
                            data-bs-src="https://www.youtube.com/embed/xwueGBFeH98" data-bs-target="#videoModal">
                            <i class="fa-solid fa-play"></i>
                        </a>
                        <img src="assets/images/thumbnail-2.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="video">
                        <a href="javascript:void(0)" class="play video-btn" data-bs-toggle="modal"
                            data-bs-src="https://www.youtube.com/embed/xwueGBFeH98" data-bs-target="#videoModal">
                            <i class="fa-solid fa-play"></i>
                        </a>
                        <img src="assets/images/thumbnail-2.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- success story section end -->


    <!-- counter section start -->
    <section class="counter-section custom-bg">
        <div class="container counter__container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="rounded" src="assets/images/IMG_E2382-min-scaled.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="text-area">
                        <h2>Our Gallery</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id doloremque iusto accusantium
                            cupiditate ducimus, ipsum delectus minima dicta, voluptas harum recusandae eligendi sint
                            reprehenderit cumque iste officiis quas! Ea exercitationem facilis repellat similique
                            molestiae
                            temporibus earum corrupti quas sapiente fugiat, repellendus voluptas necessitatibus deleniti
                            quam eaque ad ipsam quo magni vero iusto dignissimos incidunt illum sit! Magnam porro
                            mollitia
                            quisquam dolorem. Officiis labore harum dolorem explicabo architecto error inventore
                            asperiores
                            et. Quaerat culpa voluptatum ratione vitae? Consequuntur error praesentium a voluptate,
                            tempore
                            quo provident distinctio eaque ipsam explicabo voluptas possimus quidem numquam nemo,
                            reiciendis
                            iste, amet voluptates. Modi, corporis omnis.</p>


                        <div class="buttons mt-4 d-flex gap-2">
                            <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> All Course</a>
                            <a href="#" class="btn btn-custom"><i class="fa-solid fa-laptop-code"></i> About Us</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="counters">
                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">120</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>

                <div class="counter-item text-center card">
                    <h2> <span class="counter">1200</span><span class="plus"></span></h2>
                    <p>Success Students</p>
                </div>
            </div>
        </div>
    </section>
    <!-- counter section end -->

    <!-- course section start -->
    <section class="course-section">
        <div class="container course__container">
            <div class="heading">
                <h2>Popular Courses</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, dolore autem! Commodi a, repudiandae
                    sed fugiat doloremque repellendus amet facere.</p>
            </div>

            <div class="course-wrap">
                <h4>Graphics and Multiledia</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card course">
                            <div class="image">
                                <a href="#"><img src="assets/images/1-scaled.jpg" alt=""></a>
                            </div>
                            <div class="text-area">
                                <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                <div class="info d-flex justify-content-between mb-3">
                                    <div class="class">
                                        <i class="fa-solid fa-circle-play"></i>
                                        <span>36+ Classes</span>
                                    </div>
                                    <div class="month">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>3.5 Months</span>
                                    </div>
                                </div>
                                <p class="fee">Course Fee: 21000 TK.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card course">
                            <div class="image">
                                <a href="#"><img src="assets/images/2-scaled.jpg" alt=""></a>
                            </div>
                            <div class="text-area">
                                <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                <div class="info d-flex justify-content-between mb-3">
                                    <div class="class">
                                        <i class="fa-solid fa-circle-play"></i>
                                        <span>36+ Classes</span>
                                    </div>
                                    <div class="month">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>3.5 Months</span>
                                    </div>
                                </div>
                                <p class="fee">Course Fee: 21000 TK.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card course">
                            <div class="image">
                                <a href="#"><img src="assets/images/12-scaled.jpg" alt=""></a>
                            </div>
                            <div class="text-area">
                                <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                <div class="info d-flex justify-content-between mb-3">
                                    <div class="class">
                                        <i class="fa-solid fa-circle-play"></i>
                                        <span>36+ Classes</span>
                                    </div>
                                    <div class="month">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>3.5 Months</span>
                                    </div>
                                </div>
                                <p class="fee">Course Fee: 21000 TK.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="course-wrap">
                <h4>Graphics and Multiledia</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card course">
                            <div class="image">
                                <a href="#"><img src="assets/images/1-scaled.jpg" alt=""></a>
                            </div>
                            <div class="text-area">
                                <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                <div class="info d-flex justify-content-between mb-3">
                                    <div class="class">
                                        <i class="fa-solid fa-circle-play"></i>
                                        <span>36+ Classes</span>
                                    </div>
                                    <div class="month">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>3.5 Months</span>
                                    </div>
                                </div>
                                <p class="fee">Course Fee: 21000 TK.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card course">
                            <div class="image">
                                <a href="#"><img src="assets/images/2-scaled.jpg" alt=""></a>
                            </div>
                            <div class="text-area">
                                <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                <div class="info d-flex justify-content-between mb-3">
                                    <div class="class">
                                        <i class="fa-solid fa-circle-play"></i>
                                        <span>36+ Classes</span>
                                    </div>
                                    <div class="month">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>3.5 Months</span>
                                    </div>
                                </div>
                                <p class="fee">Course Fee: 21000 TK.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card course">
                            <div class="image">
                                <a href="#"><img src="assets/images/12-scaled.jpg" alt=""></a>
                            </div>
                            <div class="text-area">
                                <h4 class="mb-3"><a href="#">Professional Graphic Design</a></h4>
                                <div class="info d-flex justify-content-between mb-3">
                                    <div class="class">
                                        <i class="fa-solid fa-circle-play"></i>
                                        <span>36+ Classes</span>
                                    </div>
                                    <div class="month">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>3.5 Months</span>
                                    </div>
                                </div>
                                <p class="fee">Course Fee: 21000 TK.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load-more text-center mt-4">
                <a href="#" class="btn btn-custom">See Our Gallery</a>
            </div>
        </div>
    </section>
    <!-- course section end -->


    <!-- review section start -->
    <section class="review-section custom-bg">
        <div class="container review__container">
            <div class="heading">
                <h2>Student's Feedback</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, dolore autem! Commodi a, repudiandae
                    sed fugiat doloremque repellendus amet facere.</p>
            </div>

            <div class="feedback-slider">

                <!-- item start -->
                <div class="item">
                    <div class="card">
                        <div class="image d-flex align-items-center gap-3">
                            <div>
                                <img src="assets/images/Max-R_Headshot.jpg" alt="">
                            </div>
                            <div class="info">
                                <p class="name m-0">Student Name</p>
                                <p class="batch m-0">KHRWD-2301</p>
                                <p class="course m-0">Profesional Web Design</p>

                            </div>
                        </div>
                        <div class="message mt-3">
                            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus est
                                dignissimos
                                aspernatur repellat inventore tempore nesciunt in nulla alias labore.</p>

                            <a href="#">See Facebook Post</a>
                        </div>
                    </div>
                </div>
                <!-- item end -->
                <!-- item start -->
                <div class="item">
                    <div class="card">
                        <div class="image d-flex align-items-center gap-3">
                            <div>
                                <img src="assets/images/Max-R_Headshot.jpg" alt="">
                            </div>
                            <div class="info">
                                <p class="name m-0">Student Name</p>
                                <p class="batch m-0">KHRWD-2301</p>
                                <p class="course m-0">Profesional Web Design</p>

                            </div>
                        </div>
                        <div class="message mt-3">
                            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus est
                                dignissimos
                                aspernatur repellat inventore tempore nesciunt in nulla alias labore.</p>
                            <a href="#">See Facebook Post</a>
                        </div>
                    </div>
                </div>
                <!-- item end -->
                <!-- item start -->
                <div class="item">
                    <div class="card">
                        <div class="image d-flex align-items-center gap-3">
                            <div>
                                <img src="assets/images/Max-R_Headshot.jpg" alt="">
                            </div>
                            <div class="info">
                                <p class="name m-0">Student Name</p>
                                <p class="batch m-0">KHRWD-2301</p>
                                <p class="course m-0">Profesional Web Design</p>

                            </div>
                        </div>
                        <div class="message mt-3">
                            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus est
                                dignissimos
                                aspernatur repellat inventore tempore nesciunt in nulla alias labore.</p>
                            <a href="#">See Facebook Post</a>
                        </div>
                    </div>
                </div>
                <!-- item end -->
                <!-- item start -->
                <div class="item">
                    <div class="card">
                        <div class="image d-flex align-items-center gap-3">
                            <div>
                                <img src="assets/images/Max-R_Headshot.jpg" alt="">
                            </div>
                            <div class="info">
                                <p class="name m-0">Student Name</p>
                                <p class="batch m-0">KHRWD-2301</p>
                                <p class="course m-0">Profesional Web Design</p>

                            </div>
                        </div>
                        <div class="message mt-3">
                            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus est
                                dignissimos
                                aspernatur repellat inventore tempore nesciunt in nulla alias labore.</p>
                            <a href="#">See Facebook Post</a>
                        </div>
                    </div>
                </div>
                <!-- item end -->



            </div>
        </div>
    </section>
    <!-- review section end -->


    




    <!-- pop up video modal start -->
    <div class="modal fade video-modal" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- Preloader -->
            <div id="modal-preloader">
                <div class="modal-preloader_status">
                    <div class="modal-preloader_spinner">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Preloader -->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" id="video_modal_close" class="close" data-bs-dismiss="modal"
                        aria-label="Close" style="display: none;">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pop up video modal end -->





